<table class="footerPage" width="100%">
    <tr>
        <td width="33%">{{ "now"|date("d/m/Y") }}</td>
        <td width="33%" style="text-align: center;">{{ fsc.params.title }}</td>
        <td width="33%" style="text-align:right">{PAGENO}/{nbpg}</td>
    </tr>

</table>