<form method="post">
     <input type="hidden" name="action" value="import" />

                <div class="col-sm">
                    <button type="submit" class="btn btn-success">
                        {{ i18n.trans('import') }}
                    </button>
                </div>

</form>