{#
/**
 * This file is part of HumanResources plugin for FacturaScripts.
 * FacturaScripts Copyright (C) 2015-2022 Carlos Garcia Gomez <carlos@facturascripts.com>
 * HumanResources Copyright (C) 2018-2025 Jose Antonio Cuello Principal <yopli2000@gmail.com>
 *
 * This program and its files are under the terms of the license specified in the LICENSE file.
 *
 * @author Jose Antonio Cuello Principal <yopli2000@gmail.com>
 */
#}
<div class="col-12 text-secondary" style="font-size: smaller">
    <div class="row text-info">
        <div class="col-12"><h6>{{ trans('summary') }}</h6></div>
    </div>
    <div class="row">
        {% for year, data in fsc.holidaySummary() %}
        <div class="col-4">
            <div class="row">
                <div class="col-3"><strong>{{ year }}:</strong></div>
                <div class="col-9">{{ data }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
