<div class="row text-info mt-2 mb-0">
	<i class="fas fa-money-check fa-fw"></i> {{ i18n.trans('licencia') }}
</div>
<div class="row text-info">
	<div class="col-12"><h4>{{ fsc.licencia }}</h4></div>
</div>
